body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {

    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(65, 208, 212);
    padding: 3px;
    box-shadow: inset 1px 1px 1px black;
            /* desloc horizontal , desloc vertical, espalhamento e sombra */
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
} 

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: lightgray;
}

article > aside {
    background-color: rgba(107, 142, 165, 0.966);
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

